<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.resala.mosharkaty">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />


    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:supportsRtl">
        <activity android:name=".WithoutRepeatReportActivity" />
        <activity android:name=".AdminMrkzyReportsActivity" />
        <activity android:name=".EventReportDescriptionActivity" />
        <activity android:name=".AdminEventsReportActivity" />
        <activity android:name=".AdminShowTakyeemActivity" />
        <activity android:name=".AdminEditSessionActivity" />
        <activity android:name=".ViewSessionsActivity" />
        <activity android:name=".AdminAddSessionActivity" />
        <activity android:name=".ShowAllCourses" />
        <activity android:name=".AdminCoursesActivity" />
        <activity android:name=".AdminAddCourseActivity" />
        <activity android:name=".CourseDescriptionActivity" />
        <activity android:name=".ViewSpecificSessionActivity" />
        <activity android:name=".AdminWeeklyReportActivity" />
        <activity android:name=".NasheetActivity" />
        <activity android:name=".MeetingDescriptionActivity" />
        <activity android:name=".AdminMeetingsActivity" />
        <activity android:name=".EventToEditActivity" />
        <activity android:name=".AdminEditEventActivity" />
        <activity android:name=".AdminShowHomeMosharkatActivity" />
        <activity android:name=".AdminShowZeroesActivity" />
        <activity android:name=".AdminShowConfirmationsActivity" />
        <activity android:name=".AdminShowUsersActivity" />
        <activity android:name=".AdminShowSignatureActivity" />
        <activity android:name=".AdminShowClosingsActivity" />
        <activity android:name=".StarterActivity" />
        <activity android:name=".AdminShowStatisticsActivity" />
        <activity android:name=".ShowMosharkatyActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported='true'
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewAccountActivity" />
        <activity android:name=".ContinueTakyeemActivity" />
        <activity android:name=".MessagesReadActivity" />
        <activity android:name=".MessagesWriteActivity" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EventDescriptionActivity" />

        <provider
            android:name=".utility.classes.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>