<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.resala.mosharkaty">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.resala.mosharkaty.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.resala.mosharkaty.NewAccount" />
        <activity android:name="com.resala.mosharkaty.ContinueTakyeem" />
        <activity android:name="com.resala.mosharkaty.MessagesRead" />
        <activity android:name="com.resala.mosharkaty.MessagesWrite" />
        <activity android:name="com.resala.mosharkaty.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.resala.mosharkaty.MainActivity" />
        <activity android:name="com.resala.mosharkaty.EventDescription" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>