<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.resala.mosharkaty">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AdminShowConfirmations"></activity>
        <activity android:name=".AdminShowUsers" />
        <activity android:name=".AdminShowSignature" />
        <activity android:name=".AdminShowClosings" />
        <activity android:name=".Starter" />
        <activity android:name=".AdminShowStatistics" />
        <activity android:name=".ShowMosharkaty" />
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewAccount" />
        <activity android:name=".ContinueTakyeem" />
        <activity android:name=".MessagesRead" />
        <activity android:name=".MessagesWrite" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EventDescription" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>